.logos-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #EBD96B;
    padding: 20px;
    border: 3px solid white ;
}
.logos-container img{
    max-height: 50px;
    object-fit: contain;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.logos-container img:hover{
    transform: scale(1.1);
}